/*xl screens*/
@media only screen and (min-width : 1280px) {
  .main-photo {
    width: 100%;
  }
}

/*large-medium screens*/
@media only screen and (max-width : 1024px) {
  .page-container {
    grid-template-columns: 50px calc(100% - 100px) 50px;
    grid-template-rows: 50px 300px calc(100% - 350px) repeat(7, 90px);
  }

  header {
    grid-area: 2 / 2 / 3 / 3;
    opacity: .9;
  }

  header h1 {
    font-size: 40px;
  }

  .box {
    height: 100%;
    text-align: left;
  }

  .box img {
    margin: 5px;
    width: 40px;
    padding: 25px 0 15px 30px;
    float: left;
  }

  .box h2 {
    font-size: 35px;
    display: inline-block;
    padding: 30px 0 0 30px;
  }

  .box.stats-card {
    grid-area: 4 / 1 / 5 / 4;
  }

  .box.history-card {
    grid-area: 5 / 1 / 6 / 4;
  }

  .box.geography-card {
    grid-area: 6 / 1 / 7 / 4;
  }

  .box.politics-card {
    grid-area: 7 / 1 / 8 / 4;
  }

  .box.economy-card {
    grid-area: 8 / 1 / 9 / 4;
  }

  .box.education-card {
    grid-area: 9 / 1 / 10 / 4;
  }

  .box.culture-card {
    grid-area: 10 / 1 / 11 / 4;
  }

  .main-photo {
    grid-area: 1 / 1 / 4 / 4;
    height: auto;
    width: 100%;
    order: -1;
    margin-bottom: -2px;
  }

  .image-arrows,
  .image-dots {
    display: none;
  }

  .down-arrow {
    display: grid;
    grid-area: 3 / 2 / 4 / 3;
    position: fixed;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
  }

  .down-arrow:hover {
    transform: scale(1.1);
  }

/*medium-small screens*/
@media only screen and (max-width : 648px) {

  header {
    height: 200px;
  }

  header h1 {
    font-size: 30px;
    padding-bottom: 15px;
    padding-top: 30px;
  }

  header p {
    font-size: 12px;
  }

  header button {
    width: 85px;
    font-size: 14px;
    padding: 4px 0 6px 0;
    margin: 0 0 0 30px;
  }

  header img {
    width: 16px;
  }

}

/*smallest screens*/
@media only screen and (max-width : 430px) {
  header {
    height: 200px;
  }

  header h1 {
    font-size: 27px;
    padding: 20px 0 15px 20px;
  }

  header p {
    font-size: 12px;
    padding-left: 20px;
  }

  header button {
    width: 77px;
    font-size: 14px;
    padding: 4px 0 6px 0;
    margin: 0 0 0 20px;
  }

  header img {
    width: 14px;
  }

  .box h2 {
    font-size: 25px;
    padding-top: 35px;
  }

}



