body, html {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.page-container {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 33.33vh 33.33vh 33.33vh; 
}

/*title box*/
header {
  background-color: #474143;
  grid-area: 1 / 1 / 2 / 3;
}

header img {
  padding: 0;
  width: 22px;
}

header h1 {
  font-size: 50px;
  padding: 25px 0 15px 30px;
}

header p {
  font-size: 15px;
  padding: 0 30px 15px 30px;
  line-height: normal;
  font-weight: 300;
}

header button {
  background: transparent;
  width: 140px;
  display: inline-block;
  color: white;
  font-size: 18px;
  margin: 10px 0 0 30px;
  padding: 5px;
  cursor: pointer;
}

header button:hover {
  transform: scale(1.05);
}

/*nav boxes*/
.box {
  justify-content: center;
  text-align: center;
}

.box:hover {
  opacity: .8;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.box h2 {
  font-size: 22px;
}

.box img {
  margin: auto;
  width: 20%;
  padding: 77px 0 15px 0;
}

.box.stats-card {
  background-color: #ffc636;
  grid-area: 1 / 3 / 2 / 4;
}

.box.history-card {
  background-color: #00ada9;
  grid-area: 2 / 1 / 3 / 2;
}

.box.geography-card {
  background-color: #82BF6E;
  grid-area: 2 / 2 / 3 / 3;
}

.box.politics-card {
  background-color: #ff6444 ;
  grid-area: 2 / 3 / 3 / 4;
}

.box.economy-card {
  background-color: #ffc636;
  grid-area: 3 / 1 / 4 / 2;
}

.box.education-card {
  background-color: #00ada9;
  grid-area: 3 / 2 / 4 / 3;
}

.box.culture-card {
  background-color: #474143;
  grid-area: 3 / 3 / 4 / 4;
}

/*main photo*/
.main-photo {
  grid-area: 1 / 4 / 4 / 6;
  height: 100vh;
  width: auto;
}

.image-arrows {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.image-arrows:hover {
  transform: scale(1.1);
}

.image-dots {
  position: absolute;
  top: 4px;
  right: 20px;
}

.left-arrow {
  padding-left: 20px;
}

.right-arrow {
  right: 20px;
}

.down-arrow {
  display: none;
}
